body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.table {
  width: 80%; 
  border-collapse: collapse; 
  text-align: left; 
  font-family: Arial, sans-serif; 
 
}

.table th, .table td {
  border: 1px solid #ddd; 
  padding: 8px; 
}

.table th {
  background-color: #f2f2f2; 
  color: black; 
}

.table tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.table tr:hover {
  background-color: #d9d98c; 
}
